{% extends "base.html" %}

{% block content %}
<!-- Angular Config -->
<script src="/static/js/ngForm.js"></script>

{%raw%}
<img src="static/img/BizHack_Logo.png" style="width:100%;">
<br/>
<div ng-controller="BizAppFormCtrl" >
    <form ng-show="formDisplay" class="form-horizontal jumbotron">
        <label class="margin-top-10">Business Name</label>
        <input ng-model="businessInformation.bizName" type="text" title="Your Business Name" class="form-control"/>

        <label class="margin-top-10">Classification</label>
        <select ng-model="businessInformation.industry" required title="Your Business Classification" ng-init="businessInformation.industry=classifications[0]" ng-options="classification for classification in classifications" class="form-control"></select>

        <label class="margin-top-10">Business Address</label>
        <input ng-model="businessInformation.bizAddress" required title="Your Business Address" g-places-autocomplete class="form-control"/>

        <label class="margin-top-10">ABN</label>
        <input ng-model="businessInformation.bizABN" title="Your ABN" type="text" class="form-control"/>

        <label class="margin-top-10">Number of Employees</label>
        <input ng-model="businessInformation.employees" required title="Your Business's Number of Employees" type="number" step="1" class="form-control"/>

        <label class="margin-top-10">Annual Revenue</label>
        <input ng-model="businessInformation.revenue" required title="Your Business's Annual Revenue" type="number" step=".01" class="form-control"/>

        <label class="margin-top-10">Desired Additional Staff</label>
        <select ng-model="businessInformation.bizDesiredAdditionalStaffRange" title="Your Business's Additional Staffing Requirements" ng-init="businessInformation.bizDesiredAdditionalStaffRange=desiredAdditionalStaffRanges[0]" ng-options="desiredAdditionalStaffRange for desiredAdditionalStaffRange in desiredAdditionalStaffRanges" class="form-control"></select>

        <label class="margin-top-10">Business Age</label>
        <select ng-model="businessInformation.bizAge" title="Your Business's Age in years" ng-init="bizAge=ages[0]" ng-options="age for age in ages" class="form-control"></select>

        <button ng-click="submit()" type='submit' class="form-control margin-top btn-primary">Submit</button>

    </form>


    <div ng-hide="formDisplay">

        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Competition</h2>
                <p>This graphic shows how the total number of similar businesses in your area has evolved over the past few years.</p>
                <div style="text-align:center"><img  src="static/img/loading.gif" ng-show="loading"></div>
                <canvas id="compGraph" width="200px" height="200px" ng-hide="loading"></canvas>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Averages</h2>
                <p>This graphic displays details of the average person in your area of business.</p>
                <div style="text-align:center"><img  src="static/img/loading.gif" ng-show="avgLoad"></div>
                <style>
                    .average_person {
                        width: 600px;
                        height: 300px;
                        border: 1px solid black;
                    }

                    .average_person img {
                        float: left;
                        height: 280px;
                        padding-right: 20px;
                        padding-top: 20px;
                    }
                </style>
                <div class="average_person" ng-hide="avgLoad">
                    <img src="static/img/profile.png" />
                    <p>Median Age:{{age}}</p>
                    <p>Median Income:{{income}}</p>
                    <p>Dependent Children:{{kids}}</p>
                    <p>Education Level:{{educ}}</p>
                    <p>Marital Status:{{marry}}</p>
                    <p>Weekly Rent:{{rent}}</p>
                    <p>Number of Cars:{{cars}}</p>
                    <p>Internet Connection Type:{{net}}</p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Survivability</h2>
                <p>This graph shows the proportion of businesses in your region with similar turnover and number of
                    employees that survive over time. Data is displayed as a percentage of the original sample.</p>
                <div style="text-align:center"><img  src="static/img/loading.gif" ng-show="survLoad"></div>
                <canvas id="surviveChart" width="200px" height="200px" ng-hide="survLoad"></canvas>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Job Availability</h2>
                <p>This graphic shows how many people are looking for full-time and part-time work in your area of business.</p>
                <div style="text-align:center"><img  src="static/img/loading.gif" ng-show="availLoad"></div>
                <canvas id="availChart" width="200px" height="200px" ng-hide="availLoad"></canvas>
            </div>
        </div>



    </div>


</div>
{%endraw%}
{% endblock %}

