{% extends "base.html" %}

{% block content %}
{%raw%}
<img src="static/img/BizHack_Logo.png" style="width:100%;">
<br/>
<div ng-controller="BizAppFormCtrl" ng-show="formDisplay" class="form-horizontal jumbotron">
    <label class="margin-top-10">Business Name</label>
    <input ng-model="businessInformation.bizName" type="text" title="Your Business Name" class="form-control"/>

    <label class="margin-top-10">Classification</label>
    <select ng-model="businessInformation.bizClassification" title="Your Business Classification" ng-init="businessInformation.bizClassification=classifications[0]" ng-options="classification for classification in classifications" class="form-control"></select>

    <label class="margin-top-10">Business Address</label>
    <input ng-model="businessInformation.bizAddress" title="Your Business Address" g-places-autocomplete class="form-control"/>

    <label class="margin-top-10">ABN</label>
    <input ng-model="businessInformation.bizABN" title="Your ABN" type="text" class="form-control"/>

    <label class="margin-top-10">Number of Employees</label>
    <input ng-model="businessInformation.bizNumberOfEmployees" title="Your Business's Number of Employees" type="number" step="1" class="form-control"/>

    <label class="margin-top-10">Annual Revenue</label>
    <input ng-model="businessInformation.bizAnnualRevenue" title="Your Business's Annual Revenue" type="number" step=".01" class="form-control"/>

    <label class="margin-top-10">Desired Additional Staff</label>
    <select ng-model="businessInformation.bizDesiredAdditionalStaffRange" title="Your Business's Additional Staffing Requirements" ng-init="businessInformation.bizDesiredAdditionalStaffRange=desiredAdditionalStaffRanges[0]" ng-options="desiredAdditionalStaffRange for desiredAdditionalStaffRange in desiredAdditionalStaffRanges" class="form-control"></select>

    <label class="margin-top-10">Business Age</label>
    <select ng-model="businessInformation.bizAge" title="Your Business's Age in years" ng-init="bizAge=ages[0]" ng-options="age for age in ages" class="form-control"></select>

    <button ng-click="submit()" class="form-control margin-top btn-primary">Submit</button>
</div>
{%endraw%}
{% endblock %}

