{% extends "base.html" %}

{% block content %}
{%raw%}
<div ng-controller="frontPageController" >

    <!--<div class="jumbotron">
        <div class="container" >
            <img src="static/img/BizHack_Logo.png" style="width:70%;">
            <p>Here is basic description of the application, and how it works for new users. Please click on the
            button below to learn more about this application, and the specifics of how this technology works! or something</p>
            <p><a class="btn btn-primary btn-lg" href="about" role="button">Learn more &raquo;</a></p>
        </div>
    </div>-->

    <!-- Example row of columns -->
    <div class="row" style="background-image:url('static/img/gisBanner.jpg');border-radius:10px;">
        <div class="col-md-6">
            <img src="static/img/BizHack_Logo.png" style="width:100%;">
            <h4> {{submitDescription}}</h4>
            <p><a class="btn btn-primary btn-lg" href="form" role="button">{{submitButton}}</a></p>
        </div>
        <!--
        <div class="col-md-6">
            <h2>results page</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-success" href="result" role="button">Look at fancy graphs! &raquo;</a></p>
        </div>
        -->
    </div>
</div>
{%endraw%}
{% endblock %}